// Tablet
@media only screen and (max-width: 720px) {
    .perfume {
        max-width: 500px;
        flex-direction: column;
        margin: 0 15px;
    }
    .perfume-img {
        height: 240px;
        width: 100%;

        & img {
            display: block;
            object-fit: cover;
            object-position: top; 
        }
    }
    .perfume-content {
        max-width: 100%;
    }
    .perfume-subtitle  {
        margin-bottom: 10px;
    }
    .perfume-title  {
        margin-bottom: 20px;
    }
    .perfume-price {
        margin-bottom: 20px;
    }
}

// Mobile s 320px
@media only screen and (max-width: 320px) {
    .perfume {
        width: 100%;
        margin: 0;
    }
    .perfume-content {
        padding: 15px;
    }

}